<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.lesfrancschatons.cordova.plugins.overappbrowser"
        version="1.2.0">

    <name>Over App Browser</name>

    <description>Render a webview over your cordova UI (you choose the position) </description>
    <keywords>ios,android</keywords>
    <license>MIT</license>

    <author>Emmanuel Tabard</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/OverAppBrowser.js" name="OverAppBrowser">
            <clobbers target="OverAppBrowser" />
        </js-module>

        <config-file target="config.xml" parent="/*">
    		<feature name="OverAppBrowser">
    			<param name="ios-package" value="OverAppBrowser"/>
    		</feature>
        </config-file>

    	<header-file src="src/ios/OverAppBrowser.h" />
    	<source-file src="src/ios/OverAppBrowser.m" />
    </platform>

    <platform name="android">
        <js-module src="www/ios/OverAppBrowser.js" name="OverAppBrowser">
            <clobbers target="OverAppBrowser" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OverAppBrowser"> 
                <param name="android-package" value="com.lesfrancschatons.cordova.plugins.overappbrowser.OverAppBrowser"/>
            </feature>
        </config-file>

        <!-- <config-file target="config.xml" parent="/*">
            <feature name="OverAppBrowser">
                <param name="android-package" value="OverAppBrowser"/>
            </feature>
        </config-file> -->
    </platform>

    <!-- browser -->
    <platform name="browser">
        <js-module src="www/iframe/OverAppBrowser.js" name="OverAppBrowser">
            <clobbers target="OverAppBrowser" />
        </js-module>
    </platform>
</plugin>
